DATABASE_URL="postgresql://postgres:postgres@localhost:5432/filemanager"
MONGODB_URI="mongodb://localhost:27017/filemanager"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="bash ~ openssl rand -base64 32"
